h2{
    text-align: center;
}
p{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}
#outer{
   font-size: 25px;
}
#inner{
    
font-size: 10px;
}