div{
    height: 60px;
    width: 60px;
    border-style: solid;
  
}
h1{
    border-style: dotted;
    height: 70px;
    width: 130px;
    padding-left: 20px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 9px;

}
h2{
    margin-left: 20px;
    margin-right: 3px;
    margin-top: 4px;
    margin-bottom: 9px;
    text-align:left;

}
button{
    color:blue;
}
