h2{
    color: black;
    text-align: right;
    text-align: left;
    text-align: center;
    text-decoration: overline;
     text-decoration: underline;

}
p{
    color: blue;
    
}
h3{
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
}
h1{
    font-size:larger;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}